.btns {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.searching {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}
